.contactUs__openForm {
    top: 100px;   
}

.contactUs{
    position: absolute;
    top:  50vh;
    margin: 0 5%;
    width: 450px;
    /* height: 400px; */
    box-shadow: 1px 1px 10px #010300;
}

@media (max-width: 990px) {
    .contactUs{
        position: absolute;
        top:  27vh;
        left: 5vw;
        max-width: 500px;
        width: 80vw;
    }
    /* .contactUs__box{
        
    } */
}

@media (height < 741px) and (max-width: 990px)  {
    .contactUs{
        top: 23.5%;
    }
}

@media (height < 700px) and (width < 400px)  {
    .contactUs{
        display: none;
    }
}

.contactUs__box{
    padding: 20px;
}

.contactUs__close {
    width: 30px;
    
}
.contactUs__title{
    color: #00000071;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
}

.contactUs__name{
    display: flex;
    justify-content: space-between;
}

.contactUs__num p{
    margin: 5px;
    font-size: small;
    color: dimgrey;
}

.contactUs__btn{
    width: 100%;
    height: 50px;
}
