.bar{
  background-color: rgba(0, 0, 0, 0.692);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  backdrop-filter: blur(5px);
  max-width: 100vw;
    
}
.navlink {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0  10px;
    color: aliceblue;
    text-shadow: 1px 1px 10px rgb(0, 0, 0);
}

.navlink:hover{
    transition: 500ms;
    opacity: 0.6;
}

.active .navlink {
    transition: 500ms;
    text-shadow: #FC0 1px 0 10px;
    color: rgb(255, 255, 255);
}

.tel{
    position: absolute;
    left: 80%;
    top: 12px;
    height: 40px;
}

.tel img {
    width: 27px;
    margin-right: 5px;
}  

@media (min-width: 990px) {
    .tel div { 
        display: flex;
    }
}

@media (max-width: 990px) {
    .tel{
        position: static;
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
}

@media (height < 700px) and (width < 400px)  {
    .logo{
        display: none;
    }
    .tel{
        display: inline-block;
        margin: 20px auto;
        width: 100%;
        height: 60px;
    }
    .tel div { 
        text-align: center;
        margin-top: 10px;
    }
}

.tel a{    
    /* font: "Roboto"; */
    color: aliceblue;
    text-shadow: 1px 1px 10px rgb(0, 0, 0);
}