.bar{
  background-color: rgba(0, 0, 0, 0.692);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
    
}
.navlink {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0  10px;
    color: aliceblue;
    text-shadow: 1px 1px 10px rgb(0, 0, 0);
}

.navlink:hover{
    border-radius: 20%;
    transition: 500ms;
    opacity: 0.6;
}

.tel{
    position: absolute;
    left: 80%;
    top: 18px;
    height: 40px;
}

.tel img {
    width: 27px;
    margin-right: 5px;
}  

@media (min-width: 990px) {
    .tel div { 
        display: flex;
    }
}

@media (max-width: 990px) {
    .tel{
        position: static;
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
}

.tel a{    
    /* font: "Roboto"; */
    color: aliceblue;
    text-shadow: 1px 1px 10px rgb(0, 0, 0);
}