.bar{
    background-color: rgba(0, 0, 0, 0.692);
    position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
    
}
.navlink {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0  10px;
    font: "Verdana", serif;
    color: aliceblue;
    text-shadow: 1px 1px 10px rgb(0, 0, 0);
}

.navlink:hover{
    border-radius: 20%;
    transition: 500ms;
    opacity: 0.6;
}

.tel{
    position: absolute;
    left: 80%;
    top: 23px;
    height: 40px;
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 990px) {
    .tel a:nth-child(2){ 
        width: 100px;
        height: 25px;
        margin-top: 40%;
        margin-left: -97px;
    }
    .tel a:nth-child(1){ 
        width: 100px;
        height: 25px;
        margin-top: -30%;
        margin-left: 50px;
    }
}

@media (max-width: 990px) {
    .tel{
        position: static;
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
}

.tel a{    
    font: "Verdana", serif;
    color: aliceblue;
    text-shadow: 1px 1px 10px rgb(0, 0, 0);

}