.preview{
    position: relative; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh; 
    background:  url('../../assets/pictures/55156677_2.jpg') no-repeat right center fixed;
    background-size: cover;
}

h2{
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-size: 3.4vw;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 0px 0px 7px #000000;
}

.preview__title{
    position: absolute;
    top:  100px;
    left: 6vw;
}

.preview__subtitle{
    position: absolute;
    top:  75vh;
    left: 50vw;
    text-align: center;
}

/* slider */
.slider{
    margin: 0 auto;
    max-width: 100vw;
    max-height: 80vh;
    padding: 20px 10px;
    margin-bottom: 20px;
    z-index: 0;
}
.slider__paper{
    margin: 0 auto;
    padding: 15px;
}
.slider__title{
    width: 100%;
    text-align: center;
    font-size: 2.5vw;
    font-weight: 600;
    color: #ffffff;
    text-shadow: 1px 1px 7px #000000, 0px 0px 1px #000000;
    margin: 30px auto;
}
.slider__img{
    width: 100%;
    max-height: 70vh;
    object-fit: cover;
}

/* partners */
.partners{
    margin: 0 auto;
    width: 80vw;
    padding: 8vh 10px;
    text-align: center;
    min-height: 64.5vh ;
}

.partners__paper {
    margin: 0 auto;
    padding: 15px;
}

.partners__title{
    padding: 10px;
    text-align: center;
    font-family: "Roboto", Sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 1px 1px 7px #000000, 0px 0px 1px #000000;
}

.partners__icons{
    margin: 10px auto;
}

.partners__icons img{
    max-width: 80px;
}

@media (max-width: 990px) {
    /* preview */
    .preview{
        background-position-x: 85% ;
    }

    h2{
        font-size-adjust: initial;
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        width: 100vw;
    }
    .preview__title{
        left: auto;
        top: 15vh;
    }
    
    .preview__subtitle{
        left: auto;
        top: 80vh;
    }
    
    /* slider */
    .slider__title{
        font-size: 40px;
    }
    .slider__img{
        min-height: 100%;
    }

    /* partners */
    .partners{
        width: 100vw;
        padding: 5px 10px;
    }

}

@media (height < 741px) and (max-width: 990px)  {
    .preview__subtitle{
        left: auto;
        top: 70vh;
    }
}
