.servicePage{
    margin: 90px auto;
    text-align: center;
    min-height: 67.5vh ;
}

.servicePage .title {
    margin: 0 3vw;
}

.servicePage .subtitle {
    margin: 0 3vw 5vh 3vw;
    font-family: 'Open Sans', sans-serif;
    color: #fdfdfd;
    font-size: 25px;
    text-shadow: 0px 0px 7px #000000;
    line-height: 25px;
}

.serviceCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}